body {
    margin: 0;
    padding: 0;
    background: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    background: #fff;
    padding: 40px;
    border-radius: 14px;
    width: 330px;
    text-align: center;
  }
  
  .container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background: #4caf50;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background: #43a047;
  }
  
  .login-link {
    margin-top: 18px;
  }
  
  #msg {
    margin-top: 15px;
    color: red;
  }
  