body {
    margin: 0;
    padding: 0;
    background: #05290a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    background: #fff;
    padding: 40px;
    border-radius: 14px;
    width: 330px;
    text-align: center;
  }
  
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}
  
  button {
    width: 100%;
    padding: 12px;
    background:  #f3f17e;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background:  #ded355;
  }
  
  .login-link {
    margin-top: 18px;
  }
  
  #msg {
    margin-top: 15px;
    color: red;
  }
  